.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #ffc400 0%, #faf74e 100%);
  color:#313673;
  font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif,sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
  margin: 10px;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 10em;
}
form input,
form button {
  padding: 0.3rem;
  font-size: 2rem;
  border: none;
  background: rgb(219, 219, 219);
}
form button {
  color: #c8ff00;
  background: #313673;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #c8ff00;
  color: #313673;
  scale: 1.2;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn, .complete-btn {
  background: #eeeeee;
  color: #313673;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: #5c5151;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  color: #08ad10;
  opacity: 0.8;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #08ad10;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #fbff00;
  cursor: pointer;
  pointer-events: none;
  
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/

#mlLogo{
  padding:0;
  margin:auto 0;
  position: relative;
  text-align: center;
  width: 45vh;
  top: 0vh;
  left: 0vh;


}
#mlLogo img{
  text-align: center;
  width: 15vh;
  transition: .25s;
  
}

#mlLogo img:hover{
  scale: 1.08;
}
#cont_b4b6714dc992bcede1da13b7c3156201{
  float: right;
  transition:.1s;
  position:relative;
  top:25px;
  margin: 25px;
  opacity: .6;
scale:1.5;
}
#cont_b4b6714dc992bcede1da13b7c3156201:hover{
right: 20px;}

#noticias{
  float: right;
  position:absolute;
transition: .2s;
top:40vh;
right: 0vh;}

#noticias:hover{
  scale: 1.05;}

  #pie{
    position: relative;
    top: 38vh;
    opacity: .6;
    width: 100%;
    height: 5vh;
    color: #313673;
  }
  div.todo{
    transition: .02s;
  }
  div.todo:hover{
    scale: 1.1;
  }